.cart-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .product-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-item img {
    max-width: 80px;
    height: auto;
    border-radius: 8px;
    margin-right: 10px;
  }
  
 
  
  .action-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .action-button:hover {
    background-color: #c82333;
  }
  
  .cart-total {
    margin-top: 20px;
    text-align: right;
  }
  
  .clear-cart-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .clear-cart-button:hover {
    background-color: #c82333;
  }